body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header__img {
    width: 200px;
    margin-left: 30px;
}

.login {
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px, 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    color: white;
    padding: 0px 68px 40px;
    min-height: 600px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__container h1 {
    margin: 10px;
    font-size: 100px;
    transition: 650ms all;
    cursor: default;
}

.login__container h1:hover {
    font-size: 150px;
}

.login__container h2 {
    margin: 0;
    cursor: default;
}

.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ab88ff;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }

    .footer a {
        margin: 5px 0px;
    }
}