<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style_not_found.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../assets/logo-platzi.png" alt="">
    </header>
    <section class="login">
        <section class="login__container">
            <h1>404</h1>
            <h2>Página no encontrada</h2>
        </section>
    </section>
    <footer class="footer">
        <a href="/">Términos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>
</html>